.btn-modern{
    margin: 40%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: blue;
    display: flex;
    color: aliceblue;
    transition: 400ms;
    
}
.btn-modern:hover{
    background-color: rgb(61, 56, 153);
    transform: translateY(5px);
    
    color: rgb(0, 0, 0);
    box-shadow: 0 5px 10px rgba(45, 206, 255, 0.5);
}